# Configure the local PATH to contain tools which are fetched ad-hoc
# from Nix.

export PATH="${PWD}/tools/bin:${PATH}"
export NIX_PATH="nixpkgs=${PWD}/default.nix"
export REPO_ROOT="${PWD}"
export SECRETS_DIR="${PWD}/secrets"
