body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #383838;
    padding: 0 10px
}
h1, h2, h3 {
    line-height: 1.2
}
.footer {
    text-align: right;
}
.lod {
    text-align: center;
}
.unstyled-link {
    color: inherit;
    text-decoration: none;
}
.uncoloured-link {
    color: inherit;
}
.date {
    text-align: right;
    font-style: italic;
    float: right;
}
.inline {
    display: inline;
}
.navigation {
    text-align: center;
}
