@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

html, body{
	margin: 0;
	padding: 0;
}

body {
	font-family: 'PT Sans', sans-serif;
	min-height: 850px;
	color: #EEE;
}

a {
	color: black;
}

input, textarea, select {
   border: 1px solid #555;
   padding: 0.5em;
   font-size: 15px;
   line-height: 1.2em;
   width: 550px;
   background: #F9F9F9;
   -webkit-border-radius: 0.5em;
 }

/* site sections */
.header {
	background: url(/static/hbg.jpg);
	z-index: 4;
	padding-left: 20px;
	padding-bottom: 70px;
	padding-top:  30px;
	position: relative;
	box-shadow: 0 6px 5px 1px #343537;
}

.link {
	color: #EEE;
}

.middle {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	padding-top: 40px;
	background: url(/static/bg.gif);
	color: black;
}

.footer {
	background: url(/static/hbg.jpg);
	z-index: 4;
	position: relative;
	background-color: #4A525A;
	margin-top: 30px;
	padding-top: 20px;
	box-shadow: 0 -6px 5px 1px #343537;
	color: #EEE;
}

/* header elements */ 

.btitle {
	text-decoration:none;
	color: #EEE;
	font-size:x-large;
	font-weight:bold;
	margin-top: 15px;
	margin-bottom: 10px;
}

.contacts {
	float: left;
	font-weight: bolder;
}

.righttext {
	float:right;
	padding-right: 20px;
}

.rightbox {
	text-align:right;
	padding-right: 14px;
}

/* middle elements */
.innerTitle {
	margin-left: 10px;
	font-weight: bold;
}

.innerBoxComments{
	margin-left: 10px;
}

.innerContainer {
	padding-right: 20px;

}

/* common elements */
.centerbox {
	text-align:center;
    min-height: 45px;
}


/* style elements */

.cInput {
	margin-left: 15px;
}

.tt { 
	font-family: "courier new",courier,monospace; 
	font-size: 13px;
}

.cl {
	text-decoration:none;color:black;
}

.cHead {
    font-size:large;
    font-weight:bold;
}

.notFoundFace {
	text-align: center;
	font-size: 100px;
}

.notFoundText {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

/* HsColour style */

.code
{ 
  box-shadow: 3px 3px 5px 1px #888; 
  border-radius: 10px;
  padding: 0.75em;

  font-size: 11pt;
  width: 60em;
  color: white;
  line-height: 1.2em;
  font-family: 'Droid Sans Mono', sans-serif;
  background: black;
  background-image:url('/static/cbg.jpg');
  background-repeat: no-repeat;
 }

.code pre
{
   font-family: 'Droid Sans Mono', sans-serif; 
}

kbd
{
   font-family: 'Droid Sans Mono', sans-serif; 
    color: #333;
    font-size: 0.8em;
}

.wide
{
    width: 90em;
}


code
{ 
  line-height: 1.5em;
  border: 1px;
 }

.source-code
{ 
  font-size: 0.75em;
  color: #666;
 }

.warning
{ 
  color: red;
 }


.hs-keyglyph { color: DarkGoldenrod;  }
.hs-layout   { color: white;}
.hs-keyword  { color: skyblue; }
.hs-comment, .hs-comment a { color: cadetblue;}
.hs-str      { color: Darkorange; }
.hs-chr      { color: RosyBrown;}
.hs-conid    { color: GreenYellow; }
.hs-varid    { color: white; }
.hs-num      { color: white; }
.hs-varop    { color: DarkGoldenrod; }
.hs-conop    { color: DarkGoldenrod; }
.hs-sel      { color: FireBrick; }
.hs-cpp      { color: yellow; }
.hs-definition { color: gold; }

